setuptools==68.2.2
# config
PyYAML~=6.0
# ESI
httpx==0.25.0
aiometer==0.4.0
tenacity~=8.2.3
async-lru~=2.0.4
# Discord
nextcord~=2.6.0
# OAuth
python-jose~=3.3.0
# cron
aiocron~=1.8
# DB
psycopg2-binary~=2.9.9
SQLAlchemy~=2.0.22
# Web
flask~=3.0.0