{% extends 'base.html' %}

{% block content %}
<div class="bg-body-tertiary rounded-3">
    <div class="row">
        <div class="col-12 my-1">
            <h4>Description:</h4>
            <p class=""><span class="badge bg-dark me-1">en</span>
                EVECommissar is a Discord bot and web app for managing Discord user server roles based on corporation membership in EVE Online.
            </p>
            <p class=""><span class="badge bg-dark me-1">ru</span>
                EVECommissar - это Discord бот и web приложение для управления ролями пользователей на сервере Discord на основании нахождения персонажей в корпорации EVE online.
            </p>
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <div class="col-12 my-1">
            <h4>Contacts:</h4>
            <ul>
                <li><span class="me-1">GitHub:</span><a href="https://github.com/AnaxRho/EVECommissarBot">https://github.com/AnaxRho/EVECommissarBot</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}