{% extends 'base.html' %}

{% block content %}

<div class="col-12 bg-body-tertiary">

    <div class="d-flex justify-content-center my-1">
        <h2>{{discord_server.discord_server_name}}</h2>
    </div>

    <div class="my-1">
        <nav aria-label="page navigation">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item">
                    <a class="page-link{% if pagination.prev is none: %} disabled{% endif %}"
                       href="registered.html?discord_server_id={{discord_server.discord_server_id}}&page={{pagination.prev}}">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                </li>
                {% for page in range(1, pagination.pages + 1): %}
                <li class="page-item{% if pagination.current == page: %} active{% endif %}">
                    <a class="page-link" href="registered.html?discord_server_id={{discord_server.discord_server_id}}&page={{page}}">{{page}}</a>
                </li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link{% if pagination.next is none: %} disabled{% endif %}"
                       href="registered.html?discord_server_id={{discord_server.discord_server_id}}&page={{pagination.next}}">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="mb-1">
        <ul class="list-group">
            {% for user in pagination.users: %}
            <li class="list-group-item">
                <div class="d-flex">
                    <div>
                        <a href="https://discordapp.com/users/{{user.discord_user_id}}">
                            <i class="bi bi-discord me-1"></i>{{user.discord_user_name}}</a>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse_{{user.discord_user_id}}" aria-expanded="false" aria-controls="collapseExample">
                            <i class="bi bi-chevron-expand"></i>
                        </button>
                    </div>
                </div>
                <div class="collapse show" id="collapse_{{user.discord_user_id}}">
                    {% for character in user.characters: %}
                    <a class="btn btn-outline-secondary btn-sm" href="https://zkillboard.com/character/{{ character.character_id }}/">
                        <i class="bi bi-person-fill me-1"></i>{{character.character_name}}
                    </a>
                    {% endfor %}
                </div>
            </li> <!-- user  -->
            {% endfor %}
        </ul> <!-- users  -->
    </div>
</div>

{% endblock %}