{% extends 'base.html' %}

{% block content %}
<div class="bg-body-tertiary rounded-3">
    <div class="row">
        <div class="p-4 my-2 ">
            <p class=""><span class="badge bg-dark me-1">en</span>EVECommissarBot is a bot for managing Discord server roles based on corporation membership in EVE online.</p>
            <p class=""><span class="badge bg-dark me-1">ru</span>EVECommissarBot - это бот для управления ролями пользователей на сервере Discord на основании интеграции с EVE online.</p>
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <h5>Contacts</h5>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li><span class="me-1">GitHub:</span><a href="https://github.com/AnaxRho/EVECommissarBot">https://github.com/AnaxRho/EVECommissarBot</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}